<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="calcCounter.Properties.Settings.kcalCalcConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=kcalCalc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="calcCounter.Properties.Settings.FatToFitConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FatToFit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>